/* styles.css */

.signup-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(20, 20, 20, 20);
    background-color: #fff;
    text-align: center;
    
  }
  
  .signup-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-control {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-control label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
  }
  
  .form-control input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-control p.error {
    margin-top: 5px;
    color: red;
    font-size: 14px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #dcdedf;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("C:\Users\vasan\Downloads\wallpaperflare.com_wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}
  .font2
  {
    font-family:'Times New Roman', Times, serif;
  }
  #root{
    height: fit-content;

  }
  html{
    height: 100vh;
  }