/* Add your styles here */
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("C:\Users\vasan\Downloads\wallpaperflare.com_wallpaper.jpg");
}
   

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: transparent;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(20, 20, 20, 20);
    text-align: center;
    width: 300px;
    padding-bottom: 50px;;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.but1
{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 50px;
    cursor: pointer;
}
.but1:hover
{
    background-color: rgb(204, 199, 192);
}
.but2
{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 50px;
    cursor: pointer;
}
.but2:hover{
    background-color: rgb(204, 199, 192);

}
.vas{
    background-color: transparent;
    box-shadow: 200px -2px -2px -2px black;
}
.font
{
    font-family:'Times New Roman', Times, serif;
}