.app4 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 110vh;
    background-color: #885399;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  .checkbox-container label {
    flex: 1;
    stroke: #74588d;
  }
  
  
  .uname {
    height: 25px;
    border: none;
    
    border-bottom:2px solid black;
  
  }
  
  .letin {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #723c77;
    stroke-opacity: initial;
    stroke-width: 3;
    stroke: #cdccdb;
    color: #fff;
    padding: 10px 20px;
   
  }
  
  .letin:hover {
    background-color: #81588d;
    
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    border: none;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(95, 52, 103, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: rgb(54, 22, 22);
    font-size: 12px;
    margin-top: 5px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 20px;
    border: none;
    text-align: center;
  }
  
  .input-containers {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    margin-left: 150px;
   
  }
  
  .input-containers label {
    display: block;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    white-space: nowrap;
    margin-left: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  
  
  
  
  .dd {
    margin-left: 70px;
    margin-top: 8px;
  }