@import url(https://fonts.googleapis.com/css?family=Cherry+Swash);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.contact-us {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.conbody {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-size: cover;
  background-position: center;
  position: relative;
}

.conbody::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0GmeG4XLmyO35NtyY8GP4Y2Y9NlG89L2LtQ&usqp=CAU);
}

section {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
width: 1280px;
  margin-left: 100px;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #FFF;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: #FFF;
}

.row  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #bf4d97;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  margin-left: 400px;
  margin-top: 100px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #c042a4;
  color: #7b1f1f;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #bc3f84;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #e75284;
  color: #ac2b78;
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
    
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}
/**/

.bdy{
  background-color: #90AFC5;
  font-family: 'Cherry Swash', Arial;
  font-size: 25px;
  height:900px
}

#title{
  text-align: center;
}

#survey-form{
  margin-left: 4em;
  margin-right: 4em;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-right: 3em;
  padding-left: 3em;
  border-radius: 3%;
  background-color: #2A3132;
  color: white;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto; 
}

#description {
  font-size: 1.5em;
  text-align: center;
}
 
#name-label{
  grid-column-start: 1;
  grid-column-end: 2; 
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
}

#name{
  grid-column-start: 2;
  grid-column-end: 2; 
  grid-row-start: 1;
  grid-row-end: 2;
  width: 32em;
  height: 2em;
  align-self: center;
}

#email-label{
  grid-column-start: 1;
  grid-column-end: 2; 
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  
} 

/* #email{
  grid-column-start: 2;
  grid-column-end: 3; 
  grid-row-start: 2;
  grid-row-end: 3;
  width: 32em;
  height: 2em;
  align-self: center;
} */

#number-label{
  grid-column-start: 1;
  grid-column-end: 2; 
  grid-row-start: 3;
  grid-row-end: 4;
  align-self: center;
}

#number{
  grid-column-start: 2;
  grid-column-end: 3; 
  grid-row-start: 3;
  grid-row-end: 4;
  width: 32em;
  height: 2em;
  align-self: center;
}

#gender-label{
  grid-column-start: 1;
  grid-column-end: 2; 
  grid-row-start: 4;
  grid-row-end: 5;
  align-self: center;
}

#gender-button{
  grid-column-start: 2;
  grid-column-end: 3; 
  grid-row-start: 4;
  grid-row-end: 5;
  font-size: auto;
  align-self: center;

}

#status-label{
  grid-column-start: 1;
  grid-column-end: 2; 
  grid-row-start: 5;
  grid-row-end: 6;
  align-self: center;
}

#dropdown{
  grid-column-start: 2;
  grid-column-end: 3; 
  grid-row-start: 5;
  grid-row-end: 6;
  width: 32em;
  height: 2em;
  align-self: center;
}

#use-label{
  grid-column-start: 1;
  grid-column-end: 2; 
  grid-row-start: 6;
  grid-row-end: 7;
  align-self: center;
}

#use-input{
  grid-column-start: 2;
  grid-column-end: 3; 
  grid-row-start: 6;
  grid-row-end: 7;
  align-self: center;
}
.kkk1 {
  font-size: 40px;
  color: #fff;
  font-family:  'Dancing Script', cursive;
  text-align: center;
  position: relative;
  left:-550px;
  top:-5px;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

#comment-label{
  grid-column-start: 1;
  grid-column-end: 2; 
  grid-row-start: 7;
  grid-row-end: 8;
  align-self: center;
}

#comment-box{
  grid-column-start: 2;
  grid-column-end: 3; 
  grid-row-start: 7;
  grid-row-end: 8;
  align-self: center;
}


#submit{
  margin-top: 2em;
  background-color: #90AFC5;
  font-size: 1.75em;
  font-family: 'Cherry Swash', Arial;
  font-weight: bolder;
  grid-column-start: 2;
  grid-column-end: 3; 
  grid-row-start: 8;
  grid-row-end: 9;

  
}

textarea{
  font-family: 'Cherry Swash', Arial;
  font-size: 1em;
  font-weight: bolder;
}

 
/* iPad */
@media (max-width: 770px) and (max-height: 1030px){

 
  #title {
    font-size: 3em;
  }
  
  #description {
    padding-top: 1.4em;
    font-size: 2em;
  }
  
  #survey-form {
    font-size: 1.3em;
    margin-left: 0em;
    margin-right: 0em;

  }
  
  #name, #email, #number {
    width: 10em;
    height: 1em; 
    margin-top: 2em;
    font-size: 0.7em
    }
  
  #status{
    width: 10em;
    height: 1em; 
    height: 1.2em;
    font-size: 1em
  }
  
  #submit{
    font-size: 1.5em; 
    margin-top: 1em;
  }
  
  #comment-box{
    max-width: 9em;
    margin-top: 2em;
 }
}



  /* Most Mobile Devices*/
@media (max-width: 420px) and (max-height: 812px){
  
  
  #title {
    font-size: 1.5em;
  }
  
  #description {
    padding-top: 1.4em;
    font-size: 1em;
  }
  
  #survey-form {
    font-size: 0.65em;
    margin-left: 0em;
    margin-right: 0em;

  }
  
  #name, #email, #number {
    width: 10em;
    height: 1em; 
    margin-top: 2em;
    }
  
  #dropdown {
    width: 10em;
    height: 1em; 
    height: 2em;
  }
  
  #submit{
    font-size: 1.5em; 
    margin-top: 2em;
  }
  
  #comment-box{
    max-width: 9em;
    margin-top: 2em;
 }
}
 

