/* Dashboard.css */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the centered-content div */
.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* 100% of viewport height for full-page content */
}

/* Styles for the navbar */
.navbar {
  background-color:#5a5757;
  color: #fff;
  padding: 10px 0;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar-item1 {
  margin-right: 150px;
  margin-left: 1050PX;
}
.navbar-item2 {
  margin-left: 1050PX;
  margin-right: 150px;
}
.navbar-item3 {
  margin-right: 150px;
}
.navbar-item4 {
  margin-right: 150px;
}

.navbar-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navbar-item a:hover {
  text-decoration: underline;
}

/* Styles for the sidebar */
.sidebar {
  width: 200px;
  background-color: #5a5757;
  color: #fff;
  padding-bottom: 561px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;

}

/* Styles for the main content area */
.main-content {
  /* Add your styles for the main content here */
}
.name1
{
  padding-top: 30px;
  font-size:25px;
  padding-bottom: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 10px;
}

.name2:hover:hover{
  cursor: pointer;
}
.name3:hover:hover{
  cursor: pointer;
}
.name4:hover:hover{
  cursor: pointer;
}

.name2
{
  font-size: larger;
  padding-bottom: 50px;
  margin-left: 10px;
}
.name3
{
  font-size: larger;
  padding-bottom: 50px;
  margin-left: 10px;
}
.name4
{
  font-size: larger;
  margin-left: 10px;
}
a {
  color: #FFF;
}
a:hover {
   color: rgb(161, 207, 167)
}
.icon
{
  position: absolute;
  margin-left: -30px;
  top: 6px;
}
.vas
{
  position: absolute;
  font-size: larger;
  font-weight: bolder;
  margin-right: 180px;
}